.teachers_group{
  position: relative;
  height: 360px;
}
.teachers_group_img{
  position: relative;
}
.teachers_group_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.66));
  pointer-events: none; 
  border-radius: 1rem;
}
.teachers_group_content{
  position: absolute;
  bottom: 0;
  color: #fff;
}
.popular_navbar .swiper-wrapper{
  padding-top: 0;
  padding: 20px 0;
}
.popular_slider_item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border: 1px solid #dcdfe3;
  border-radius: 100px;
  white-space: nowrap;
  cursor: pointer;
}

.popular_slider_item.active {
  background: #007bff; /* Faol element uchun rang */
  color: white; /* Matn rangi */
}
@media only screen and (max-width: 1024px) {
 
}
@media only screen and (max-width: 780px) {

}
@media only screen and (max-width: 540px) {
  .teachers_group{
    height: 210px;
  }
  .popular_slider_item {
    padding: 5px 0px;
  }
}
@media only screen and (max-width: 450px) {
  .teachers_group{
    position: relative;
    height: 190px;
  }
}


